.wrapper {
	display: grid;
	grid-row-gap: 1em;
}

.replying {
	display: grid;
	grid-row-gap: 0.5em;
}

.replies_list {
	display: grid;
	grid-row-gap: 1em;
	padding-left: 1em;
	list-style: none;
	border-left: 2px solid var(--color-neutral-light);
}
