.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  height: 100dvh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	display: grid;
	place-content: center;
	padding-inline: 1em;
}

.header {
	font-size: 20px;
	font-weight: 500;
	color: var(--color-neutral-darker);
}

.actions {
	display: flex;
	gap: .75em;
}

.actions > * {
	flex: 1;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 500;
	line-height: 1;
	padding: .9em 1em;
	border: none;
	border-radius: 10px;
	color: var(--color-neutral-white);
}

.cancel {
	background-color: var(--color-neutral-dark);
}

.delete {
	background-color: var(--color-primary-red);
}
