.score_counter {
  grid-row-start: 3;
  grid-column-start: 1;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: .65em .9em;
  border-radius: 10px;
  font-weight: 500;
  color: var(--color-primary-blue);
  background-color: var(--color-neutral-lighter);
}

.score_counter > button {
  height: 100%;
  background: none;
  border: none;
}

.score_counter > span {
  width: 2ch;
  text-align: center;
}