.list {
  display: grid;
  row-gap: 1em;
}

.container {
	display: grid;
	row-gap: 1em;
	padding: 1em;
	border-radius: 5px;
	background-color: var(--color-neutral-white);
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-neutral-dark);
}

.replying {
	display: grid;
	row-gap: 0.5em;
}

.image {
	width: 35px;
	height: 35px;
	align-self: center;
}

.textarea {
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 1em;
	resize: none;
	border: 1px solid var(--color-neutral-light);
	border-radius: 5px;
	background: none;
	color: var(--color-neutral-dark);
}

.textarea:focus-visible {
  color: var(--color-neutral-darker);
	outline: 1px solid var(--color-neutral-darker);
}

.button {
	justify-self: end;
	width: min-content;
	padding: .85em 1.75em;
	border: none;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--color-neutral-white);
	background-color: var(--color-primary-blue);
}

.button:disabled {
	background-color: var(--color-neutral-light);
}
